@charset "UTF-8";
.Row {
  display: flex;
  flex-wrap: wrap; }
  .Row .Column-1 {
    width: calc(100% / 12 * 1); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-1 {
      width: calc(100% / 12 * 1); } }
  .Row .Column-2 {
    width: calc(100% / 12 * 2); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-2 {
      width: calc(100% / 12 * 2); } }
  .Row .Column-3 {
    width: calc(100% / 12 * 3); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-3 {
      width: calc(100% / 12 * 3); } }
  .Row .Column-4 {
    width: calc(100% / 12 * 4); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-4 {
      width: calc(100% / 12 * 4); } }
  .Row .Column-5 {
    width: calc(100% / 12 * 5); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-5 {
      width: calc(100% / 12 * 5); } }
  .Row .Column-6 {
    width: calc(100% / 12 * 6); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-6 {
      width: calc(100% / 12 * 6); } }
  .Row .Column-7 {
    width: calc(100% / 12 * 7); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-7 {
      width: calc(100% / 12 * 7); } }
  .Row .Column-8 {
    width: calc(100% / 12 * 8); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-8 {
      width: calc(100% / 12 * 8); } }
  .Row .Column-9 {
    width: calc(100% / 12 * 9); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-9 {
      width: calc(100% / 12 * 9); } }
  .Row .Column-10 {
    width: calc(100% / 12 * 10); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-10 {
      width: calc(100% / 12 * 10); } }
  .Row .Column-11 {
    width: calc(100% / 12 * 11); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-11 {
      width: calc(100% / 12 * 11); } }
  .Row .Column-12 {
    width: calc(100% / 12 * 12); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-12 {
      width: calc(100% / 12 * 12); } }

#MediaQuery {
  width: 0;
  height: 0;
  overflow: hidden; }

@media screen and (min-width: 641px) {
  #MediaQuery {
    font-family: 'Medium'; } }

@media screen and (max-width: 640px) {
  #MediaQuery {
    font-family: 'Small'; } }

#PageContainer {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: rgba(0, 0, 0, 0.87); }
  #PageContainer .Headlines, #PageContainer h1, #PageContainer h2, #PageContainer h3, #PageContainer h4, #PageContainer h5, #PageContainer h6 {
    margin: 2.4rem 0 1.6rem 0;
    padding: 0.4em;
    padding-left: 0.8em; }
  @media screen and (min-width: 641px) {
    #PageContainer h1 {
      margin-left: 0rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level1 {
      margin-left: 1rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h2 {
      margin-left: 1rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level2 {
      margin-left: 2rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h3 {
      margin-left: 2rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level3 {
      margin-left: 3rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h4 {
      margin-left: 3rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level4 {
      margin-left: 4rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h5 {
      margin-left: 4rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level5 {
      margin-left: 5rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h6 {
      margin-left: 5rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level6 {
      margin-left: 6rem; } }
  #PageContainer h1 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 0.1rem solid #bdbdbd; }
    #PageContainer h1:first-of-type {
      margin-top: 0; }
  #PageContainer h2 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 0.1rem solid #eeeeee; }
  #PageContainer h3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.87);
    border-left: 0.4rem solid #eeeeee; }
  #PageContainer h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.87);
    border-left: 0.1rem solid #eeeeee; }
  #PageContainer h5, #PageContainer h6 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.87); }

html {
  font-size: 62.5%; }

html, body {
  background-color: #fafafa;
  overflow-x: hidden;
  width: 100%; }

body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #ff00ff; }

p, span {
  word-break: break-all; }

#NoScript {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.54);
  background-color: #F44336;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  z-index: 999999;
  text-align: center;
  padding: 0.8rem;
  opacity: 0.9; }
  #NoScript > p {
    margin: 0.8rem; }

.Z-Depth-0 {
  box-shadow: none !important; }

.Z-Depth-1, .Card, .Button, .ButtonContainer > button, .chosen-container.chosen-container-single .chosen-drop .chosen-search .chosen-search-input:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.Z-Depth-1-Half {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.Z-Depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.Z-Depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.Z-Depth-4, .Button:active, .ButtonContainer > button:active, .chosen-container.chosen-container-single .chosen-drop {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.Z-Depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.Z-Depth-6 {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 640px) {
  .Medium {
    display: none !important; } }

@media screen and (min-width: 641px) {
  .Small {
    display: none !important; } }

.mdi, .CheckboxContainer > label > input[type=checkbox] + span:before, .RadioButtonContainer label > input[type=radio] + span:before, #SearchBar:after, #Breadcrumb > ul > li:after, .chosen-container.chosen-container-single .chosen-single.chosen-single-with-deselect .search-choice-close:after, .chosen-container.chosen-container-single .chosen-single > div > b:after, .chosen-container.chosen-container-single .chosen-drop .chosen-search:after {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.4rem; }

.Card {
  background-color: #ffffff;
  margin: 0 1.6rem 3.2rem 1.6rem;
  padding: 1.6rem;
  overflow: visible; }
  @media screen and (max-width: 640px) {
    .Card {
      margin: 0 0.8rem 1.6rem 0.8rem;
      padding: 0.8rem; } }

.Button, .ButtonContainer > button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
  border: none;
  outline: none;
  padding: 0.6em 0.8em;
  border-radius: 0;
  transition: box-shadow .3s, background-color .3s;
  cursor: pointer;
  min-width: 8.8rem; }
  .Button:active, .ButtonContainer > button:active {
    background-color: #bdbdbd; }

.SelectboxContainer {
  position: relative;
  margin: 2.4rem 0 1.6rem; }
  .SelectboxContainer select {
    position: relative;
    border: none;
    border-bottom: 0.1rem solid #eeeeee;
    outline: none;
    transition: all .3s;
    padding: 0.1em;
    padding-right: 2.4rem;
    padding-bottom: calc(0.1em + 0.1rem);
    border-radius: 0;
    min-height: 2.8rem;
    max-width: 100%;
    background: transparent url("../svg/SelectboxDownArrow.svg") right 0 center no-repeat;
    background-size: 2.4rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ''; }
    .SelectboxContainer select::-ms-expand {
      display: none; }
    .SelectboxContainer select:focus {
      padding-bottom: 0.1em;
      border-bottom: 0.2rem solid #005790; }
    .SelectboxContainer select + label {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transform: translateY(-100%);
      transition: all .3s; }
    .SelectboxContainer select:focus + label,
    .SelectboxContainer select.IsNotEmpty + label {
      color: #005790; }

.TextfieldContainer {
  position: relative;
  margin: 3.2rem 0 2.4rem; }
  .TextfieldContainer input[type=text] {
    position: relative;
    border: none;
    border-bottom: 0.1rem solid #eeeeee;
    outline: none;
    transition: all .3s;
    padding: 0.1em;
    padding-bottom: calc(0.1em + 0.1rem);
    border-radius: 0;
    min-height: 2.8rem;
    box-sizing: border-box; }
    .TextfieldContainer input[type=text]:focus {
      padding-bottom: 0.1em;
      border-bottom: 0.2rem solid #005790; }
    .TextfieldContainer input[type=text] + label {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 50%;
      left: 0;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all .3s; }
    .TextfieldContainer input[type=text]:focus + label,
    .TextfieldContainer input[type=text].IsNotEmpty + label {
      color: #005790;
      top: 0;
      transform: translateY(-100%); }

.TextareaContainer {
  position: relative;
  margin: 3.2rem 0 2.4rem; }
  .TextareaContainer textarea {
    position: relative;
    border: none;
    border-bottom: 0.1rem solid #eeeeee;
    outline: none;
    transition: border-color 0.3s, border-width 0.3s, padding-bottom 0.3s;
    padding: 0.1em;
    padding-top: 0.4em;
    padding-bottom: calc(0.1em + 0.1rem);
    border-radius: 0;
    min-height: 2.8rem;
    box-sizing: border-box;
    vertical-align: bottom; }
    .TextareaContainer textarea:focus {
      padding-bottom: 0.1em;
      border-bottom: 0.2rem solid #005790; }
    .TextareaContainer textarea + label {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 50%;
      left: 0;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all .3s; }
    .TextareaContainer textarea:focus + label,
    .TextareaContainer textarea.IsNotEmpty + label {
      color: #005790;
      top: 0;
      transform: translateY(-100%); }

/**/
.CheckboxContainer > label > input[type=checkbox] {
  display: none; }
  .CheckboxContainer > label > input[type=checkbox] + span {
    position: relative;
    padding-left: 2.6rem; }
    .CheckboxContainer > label > input[type=checkbox] + span:before {
      position: absolute;
      top: -0.1rem;
      left: 0;
      content: "\f131";
      color: #9e9e9e;
      transition: all .3s; }
    .CheckboxContainer > label > input[type=checkbox] + span:after {
      content: "";
      display: block;
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      top: -0.1rem;
      left: 0;
      pointer-events: none;
      background-color: #005790;
      transform: scale(2, 2);
      opacity: 0;
      border-radius: 100%;
      transition: transform 0.5s, opacity 1s; }
    .CheckboxContainer > label > input[type=checkbox] + span:active:after {
      transform: scale(0, 0);
      opacity: 0.5;
      transition: 0s; }
  .CheckboxContainer > label > input[type=checkbox]:checked + span:before {
    color: #005790;
    content: "\f132"; }

/**/
/**
		.Input.CheckboxContainer
		{
			> label > input[type=checkbox]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 1.5em;

					&:before
					{
						position: absolute;
						content: "";
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						display: block;
						width: 1em;
						height: 1em;
						border: 0.2rem solid Color(White, Darken2);
						box-sizing: border-box;
					}
				}

				&:checked + span
				{
					&:before
					{
						background-color: Color(Blue);
						border: none;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 0.3em;
						height: 0.6em;
						border-bottom: 0.15em solid Color(White);
						border-right: 0.15em solid Color(White);
						background: transparent;
						top: 0.24em;
						left: 0.3em;
						transform: rotate(45deg);
					}
				}
			}
		}
		/**/
/**/
.RadioButtonContainer label > input[type=radio] {
  display: none; }
  .RadioButtonContainer label > input[type=radio] + span {
    position: relative;
    padding-left: 2.6rem; }
    .RadioButtonContainer label > input[type=radio] + span:before {
      position: absolute;
      top: -0.1rem;
      left: 0;
      content: "\f43d";
      color: #9e9e9e;
      transition: all .3s; }
    .RadioButtonContainer label > input[type=radio] + span:after {
      content: "";
      display: block;
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      top: -0.1rem;
      left: 0;
      pointer-events: none;
      background-color: #005790;
      transform: scale(2, 2);
      opacity: 0;
      border-radius: 100%;
      transition: transform 0.5s, opacity 1s; }
    .RadioButtonContainer label > input[type=radio] + span:active:after {
      transform: scale(0, 0);
      opacity: 0.5;
      transition: 0s; }
  .RadioButtonContainer label > input[type=radio]:checked + span:before {
    color: #005790;
    content: "\f43e"; }

#GlobalHeader {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 6.4rem;
  z-index: 10000; }
  #GlobalHeader > #GlobalNav {
    width: calc(100% - 24rem); }
    @media screen and (min-width: 641px) {
      #GlobalHeader > #GlobalNav {
        padding: 0 1.6rem;
        box-sizing: border-box; } }
    #GlobalHeader > #GlobalNav > ul {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #GlobalHeader > #GlobalNav > ul > li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 100%; }
        @media screen and (max-width: 640px) {
          #GlobalHeader > #GlobalNav > ul > li {
            width: 5.6rem;
            height: 100%; } }
        #GlobalHeader > #GlobalNav > ul > li > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #9e9e9e; }
          @media screen and (max-width: 640px) {
            #GlobalHeader > #GlobalNav > ul > li > a {
              width: 100%;
              height: 100%; } }
          #GlobalHeader > #GlobalNav > ul > li > a:hover {
            color: #757575; }
          #GlobalHeader > #GlobalNav > ul > li > a i {
            pointer-events: none; }
      #GlobalHeader > #GlobalNav > ul > li.ProjectSelect {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.87);
        margin-left: auto;
        overflow: visible; }
      #GlobalHeader > #GlobalNav > ul > li.User > a > img {
        max-width: 3.2rem;
        max-height: 3.2rem;
        pointer-events: none; }
      @media screen and (max-width: 640px) {
        #GlobalHeader > #GlobalNav > ul > li.Search {
          margin-left: auto; } }
    @media screen and (max-width: 640px) {
      #GlobalHeader > #GlobalNav {
        width: 100%; } }
  @media screen and (max-width: 640px) {
    #GlobalHeader {
      width: 100%;
      height: 5.6rem; } }

@media screen and (min-width: 641px) {
  #GlobalHeader > #GlobalNav {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: width; }
  #GlobalHeader.SideBarSwitched > #GlobalNav {
    width: calc(100% - 6.4rem); } }

@media screen and (max-width: 640px) {
  #GlobalHeader {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: margin-left; }
  #GlobalHeader.SideBarSwitched {
    margin-left: 24rem; } }

#SiteLogo {
  position: relative;
  display: flex;
  background-color: #005790;
  width: 24rem;
  height: 6.4rem; }
  @media screen and (max-width: 640px) {
    #SiteLogo {
      position: absolute;
      left: 0;
      height: 5.6rem;
      transform: translateX(-100%);
      z-index: 10000; } }
  #SiteLogo > h1 {
    width: 100%;
    margin: 0; }
    #SiteLogo > h1 > a {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
      #SiteLogo > h1 > a:hover {
        background-color: #004573; }
      #SiteLogo > h1 > a .Img {
        pointer-events: none;
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat; }
      #SiteLogo > h1 > a .Symbol {
        display: block;
        margin-right: 0.8rem;
        width: 32px;
        height: 100%;
        background-image: url("../svg/SiteSymbol.svg"); }
      #SiteLogo > h1 > a .Title {
        width: 151px;
        height: 100%;
        background-image: url("../svg/SiteTitle.svg"); }

@media screen and (min-width: 641px) {
  #SiteLogo {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: width; }
    #SiteLogo > h1 > a > .Symbol {
      transition-duration: .3s;
      transition-timing-function: ease;
      transition-property: margin;
      transform-origin: left; }
    #SiteLogo > h1 > a > .Title {
      transition-duration: .3s;
      transition-timing-function: ease;
      transition-property: width, opacity;
      transform-origin: left; }
  #SiteLogo.SideBarSwitched {
    width: 6.4rem; }
    #SiteLogo.SideBarSwitched > h1 > a > .Symbol {
      margin: 0; }
    #SiteLogo.SideBarSwitched > h1 > a > .Title {
      opacity: 0;
      width: 0; } }

#SearchBar {
  position: absolute;
  width: calc(100% - 24rem);
  height: 6.4rem;
  top: 0;
  right: 0;
  margin-top: -6.4rem;
  background: #ffffff;
  padding: 0.8rem;
  box-sizing: border-box;
  transition: margin-top .3s ease; }
  @media screen and (max-width: 640px) {
    #SearchBar {
      width: 100%;
      height: 5.6rem;
      margin-top: -5.6rem; } }
  #SearchBar.SearchBarSwitched {
    margin-top: 0; }
  #SearchBar:after {
    content: "\f349";
    display: flex;
    position: absolute;
    top: 50%;
    left: 1.6rem;
    color: #9e9e9e;
    transform: translateY(-50%); }
  #SearchBar > form {
    position: relative;
    width: 100%;
    height: 100%; }
    #SearchBar > form > input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.87);
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
      outline: none;
      background-color: #ffffff;
      transition: box-shadow .3s, background-color .3s;
      padding: 0 4.8rem 0 4rem; }
  #SearchBar > .Close {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    color: #9e9e9e;
    transition: color .3s; }
    #SearchBar > .Close:hover {
      color: #757575; }

#SideBar {
  position: fixed;
  z-index: 0;
  top: 6.4rem;
  overflow-y: auto;
  left: 0;
  display: flex;
  background-color: #37474F;
  width: 24rem;
  height: calc(100% - 6.4rem);
  z-index: 1000; }
  #SideBar > #SideNav {
    width: 100%; }
    #SideBar > #SideNav > ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #SideBar > #SideNav > ul > li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4.8rem; }
        #SideBar > #SideNav > ul > li > a {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: rgba(0, 0, 0, 0.54);
          width: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-decoration: none;
          height: 100%;
          padding-left: 1.6rem;
          color: #B0BEC5;
          border-left: 0.4rem solid transparent; }
          #SideBar > #SideNav > ul > li > a > i {
            margin-right: 0.2rem;
            pointer-events: none; }
          #SideBar > #SideNav > ul > li > a > span {
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none; }
          #SideBar > #SideNav > ul > li > a:hover {
            background-color: #263238;
            color: #ffffff; }
      #SideBar > #SideNav > ul > li.Active {
        background-color: #263238; }
        #SideBar > #SideNav > ul > li.Active > a {
          border-color: #005790;
          color: #ffffff; }
  @media screen and (max-width: 640px) {
    #SideBar {
      position: fixed;
      top: 5.6rem;
      left: 0;
      width: 24rem;
      height: calc(100% - 5.6rem);
      margin-left: -24rem; } }

@media screen and (min-width: 641px) {
  #SideBar {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: width, transform; }
    #SideBar > #SideNav > ul > li > a > span {
      transition-duration: .3s;
      transition-timing-function: ease;
      transition-property: transform, opacity;
      transform-origin: left; }
  #SideBar.SideBarSwitched {
    width: 6.4rem; }
    #SideBar.SideBarSwitched > #SideNav > ul > li > a span {
      opacity: 0;
      transform: scaleX(0); } }

@media screen and (max-width: 640px) {
  #SideBar {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: margin-left; }
  #SideBar.SideBarSwitched {
    margin-left: 0; } }

#MainContainer {
  position: relative;
  width: calc(100% - 24rem);
  margin-left: 24rem;
  margin-top: 6.4rem;
  z-index: 100;
  overflow-x: hidden; }
  @media screen and (max-width: 640px) {
    #MainContainer {
      margin-left: 0;
      margin-top: 5.6rem;
      width: 100%; } }
  #MainContainer > #MainHeader {
    background-color: #ffffff;
    border-bottom: 0.1rem solid #f5f5f5;
    padding-top: 2.4rem; }
    @media screen and (max-width: 640px) {
      #MainContainer > #MainHeader {
        padding-top: 1.6rem; } }
    #MainContainer > #MainHeader > #SectionName {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.4rem;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 2.4rem 2.4rem; }
      @media screen and (max-width: 640px) {
        #MainContainer > #MainHeader > #SectionName {
          margin: 0 1.6rem 1.6rem; } }

@media screen and (min-width: 641px) {
  #MainContainer {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: margin-left, width; }
  #MainContainer.SideBarSwitched {
    width: calc(100% - 6.4rem);
    margin-left: 6.4rem; } }

@media screen and (max-width: 640px) {
  #MainContainer {
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: margin-left; }
  #MainContainer.SideBarSwitched {
    margin-left: 24rem; } }

#TabBar > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; }
  #TabBar > ul > li {
    display: flex; }
    #TabBar > ul > li > a {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.87);
      min-width: 4.8rem;
      min-height: 4.8rem;
      padding: 0 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #9e9e9e;
      box-sizing: border-box;
      padding-bottom: 0.2rem; }
      #TabBar > ul > li > a:hover {
        color: #757575; }
      #TabBar > ul > li > a i,
      #TabBar > ul > li > a span {
        pointer-events: none; }
  #TabBar > ul > li.Active > a {
    padding-bottom: 0;
    border-bottom: 0.2rem solid #005790;
    color: #005790; }

@media screen and (max-width: 640px) {
  #TabBar > ul {
    flex-direction: column; }
    #TabBar > ul > li {
      border-top: 0.1rem solid #eeeeee;
      overflow: hidden;
      height: 4.8rem;
      transition: height .3s ease, opacity .3s ease; }
      #TabBar > ul > li > a {
        padding: 0 1.6rem 0 2rem;
        width: 100%;
        justify-content: flex-start; }
    #TabBar > ul > li.Active > a {
      border-bottom: none;
      border-left: 0.4rem solid #005790;
      padding-left: 1.6rem; } }

@media screen and (max-width: 640px) {
  #TabBar #ToggleTabBar {
    display: none; }
    #TabBar #ToggleTabBar:not(:checked) + #ToggleTabBarLabel .Opened {
      display: none; }
    #TabBar #ToggleTabBar:not(:checked) ~ ul > li {
      opacity: 0;
      border-width: 0;
      height: 0; }
    #TabBar #ToggleTabBar:checked + #ToggleTabBarLabel .Closed {
      display: none; }
  #TabBar #ToggleTabBarLabel {
    display: block; }
    #TabBar #ToggleTabBarLabel > div {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      display: flex;
      cursor: pointer;
      padding: 0 1.6rem;
      height: 4.8rem;
      align-items: center;
      justify-content: flex-start;
      pointer-events: none; }
      #TabBar #ToggleTabBarLabel > div > i {
        margin-left: auto; } }

.ActionBar {
  float: right;
  margin: 1.6rem 3.2rem 0.8rem 0.8rem;
  font-size: 2.4rem; }
  .ActionBar > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end; }
    .ActionBar > ul > li {
      display: flex;
      border-radius: 50%; }
      .ActionBar > ul > li > a {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        text-decoration: none;
        color: #9e9e9e; }
        .ActionBar > ul > li > a:hover {
          color: #757575; }
        .ActionBar > ul > li > a > i {
          pointer-events: none; }
  @media screen and (max-width: 640px) {
    .ActionBar {
      float: none;
      margin: 0;
      margin-bottom: 0.8rem; } }

#PageContainer .ActionBar {
  margin: 0;
  float: none; }

#Breadcrumb {
  margin: 2.4rem 3.2rem 0; }
  @media screen and (max-width: 640px) {
    #Breadcrumb {
      margin: 1.6rem 1.6rem 0; } }
  #Breadcrumb > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #Breadcrumb > ul > li > a {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      white-space: nowrap;
      text-decoration: none; }
      #Breadcrumb > ul > li > a:hover {
        color: #005790;
        text-decoration: underline; }
    #Breadcrumb > ul > li:after {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.54);
      content: "\f142"; }

#PageName > h1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: rgba(0, 0, 0, 0.87); }

#PageName {
  margin: 0 3.2rem 1.6rem; }
  @media screen and (max-width: 640px) {
    #PageName {
      margin: 0 1.6rem 1.6rem; } }
  #PageName > h1 {
    margin: 0;
    padding: 0; }

#PageContainer {
  padding: 0 1.6rem; }
  @media screen and (max-width: 640px) {
    #PageContainer {
      padding: 0; } }

#Shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50000;
  background-color: #212121;
  opacity: 0;
  pointer-events: none;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-property: opacity, top, margin-left; }
  #Shade.Active {
    opacity: 0.5;
    pointer-events: auto; }
    #Shade.Active.SideBarSwitched {
      margin-left: 24rem; }
      @media screen and (min-width: 641px) {
        #Shade.Active.SideBarSwitched {
          pointer-events: none;
          opacity: 0; } }

.chosen-container.chosen-container-single {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #eeeeee;
  transition: all .3s  ease; }
  .chosen-container.chosen-container-single + label {
    display: none; }
  .chosen-container.chosen-container-single .chosen-single {
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    border: none;
    display: flex;
    align-items: center; }
    .chosen-container.chosen-container-single .chosen-single.chosen-single-with-deselect span {
      margin-right: 4.8rem; }
    .chosen-container.chosen-container-single .chosen-single.chosen-single-with-deselect .search-choice-close {
      top: auto;
      right: 2.4rem;
      opacity: 1;
      background: none; }
      .chosen-container.chosen-container-single .chosen-single.chosen-single-with-deselect .search-choice-close:after {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.87);
        color: #9e9e9e;
        position: absolute;
        content: "\f156";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .chosen-container.chosen-container-single .chosen-single.chosen-single-with-deselect .search-choice-close:hover:after {
        color: #757575; }
    .chosen-container.chosen-container-single .chosen-single > div > b {
      background: none !important; }
      .chosen-container.chosen-container-single .chosen-single > div > b:after {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.87);
        color: #9e9e9e;
        position: absolute;
        content: "\f140";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .chosen-container.chosen-container-single .chosen-single:hover > div > b:after {
      color: #757575; }
  .chosen-container.chosen-container-single.chosen-with-drop {
    padding-bottom: 0;
    border-bottom: 0.2rem solid #005790; }
  .chosen-container.chosen-container-single .chosen-drop {
    z-index: 100000;
    border: none;
    margin: 0;
    border-radius: 0;
    transform-origin: top;
    transform: scaleY(0);
    top: calc(100% + 0.2rem);
    transition: transform .3s ease; }
    .chosen-container.chosen-container-single .chosen-drop .chosen-search {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.87);
      padding: 0.8rem; }
      .chosen-container.chosen-container-single .chosen-drop .chosen-search .chosen-search-input {
        border: none;
        background: none;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0 0.8rem 0 3.2rem;
        height: 4rem;
        transition: all .3s ease; }
        .chosen-container.chosen-container-single .chosen-drop .chosen-search .chosen-search-input:focus {
          background-color: #ffffff; }
      .chosen-container.chosen-container-single .chosen-drop .chosen-search:after {
        content: "\f232";
        position: absolute;
        left: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        color: #9e9e9e;
        font-size: 1.6rem; }
    .chosen-container.chosen-container-single .chosen-drop .chosen-results {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.15;
      color: rgba(0, 0, 0, 0.87);
      padding: 0.8rem 0;
      margin: 0;
      max-height: 16rem;
      width: 100%; }
      .chosen-container.chosen-container-single .chosen-drop .chosen-results .active-result {
        padding: 0.8rem; }
        .chosen-container.chosen-container-single .chosen-drop .chosen-results .active-result.highlighted {
          color: inherit;
          background: none;
          background-color: #eeeeee; }
      .chosen-container.chosen-container-single .chosen-drop .chosen-results .no-results {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.54);
        background-color: transparent;
        padding: 0.8rem; }
        .chosen-container.chosen-container-single .chosen-drop .chosen-results .no-results > span {
          display: none; }
  .chosen-container.chosen-container-single.chosen-with-drop .chosen-drop {
    transform: scaleY(1); }

#GlobalHeader > #GlobalNav > ul > li.ProjectSelect {
  margin-top: 0;
  margin-bottom: 0;
  width: 20rem; }
  #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > select.CreateChosen {
    position: absolute;
    width: 100%;
    bottom: 0.8rem;
    left: 0; }
    #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > select.CreateChosen + label {
      top: 0.8rem;
      transform: none; }
  #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    padding: 0;
    width: 100%; }
    #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single {
      height: 6.4rem; }
      @media screen and (max-width: 640px) {
        #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single {
          height: 5.6rem; } }
      #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single > span {
        margin-left: 0.8rem;
        pointer-events: none; }
      #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single > div {
        pointer-events: none; }
    #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-drop {
      width: 150%;
      top: 100%; }
      #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-drop > .chosen-results {
        box-sizing: border-box;
        max-height: calc(100vh - 6.4rem - 4rem - (0.8rem * 2) - 1.6rem); }

.Ripple, .ButtonContainer > button, #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single, .Ripple-Black, .Ripple-White {
  position: relative;
  overflow: hidden; }
  .Ripple:after, .ButtonContainer > button:after, #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single:after, .Ripple-Black:after, .Ripple-White:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 16%, transparent 16.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .4s, opacity 1s; }
  .Ripple:active:after, .ButtonContainer > button:active:after, #GlobalHeader > #GlobalNav > ul > li.ProjectSelect > .chosen-container.chosen-container-single > .chosen-single:active:after, .Ripple-Black:active:after, .Ripple-White:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s; }

.Ripple-Black:after {
  background-image: radial-gradient(circle, #000 16%, transparent 16.01%); }

.Ripple-White:after {
  background-image: radial-gradient(circle, #fff 16%, transparent 16.01%); }

.tinytip {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.54);
  background-color: #616161;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  opacity: 0.9;
  z-index: 150000;
  border-radius: 0.2rem;
  pointer-events: none; }
  .tinytip.tinytip-top {
    margin-bottom: 0.8rem; }
  .tinytip.tinytip-bottom {
    margin-top: 0.8rem; }
  .tinytip.tinytip-left {
    margin-right: 0.8rem; }
  .tinytip.tinytip-right {
    margin-left: 0.8rem; }
  .tinytip.tinytip-sidenav:not(.SideBarSwitched) {
    display: none; }
  .tinytip.tinytip-fixed {
    position: fixed !important; }
  @media screen and (max-width: 640px) {
    .tinytip {
      display: none !important; } }

.Display4 {
  font-size: 11.2rem;
  font-weight: 300;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.54); }

.Display3 {
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.54); }

.Display2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.3rem;
  color: rgba(0, 0, 0, 0.54); }

.Display1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: rgba(0, 0, 0, 0.54); }

.Headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;
  color: rgba(0, 0, 0, 0.87); }

.Title {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.87); }

.Subheading2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.87); }

.Subheading1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: rgba(0, 0, 0, 0.87); }

.Body2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: rgba(0, 0, 0, 0.87); }

.Body1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: rgba(0, 0, 0, 0.87); }

.Caption {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.54); }

.Menu {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.87); }

.Button, .ButtonContainer > button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.87); }

/*# sourceMappingURL=Workshop.css.map */