//--------------------------------------------------------------------------------------------------
//= Activity.scss
//--------------------------------------------------------------------------------------------------

	@import "Definition/Variables";
	@import "Definition/Fonts";
	@import "Definition/Colors";

	#PageContainer.Activity
	{
		ul
		{
			list-style-type: none;
			margin: 16px 0;
			padding: 0;

			> li
			{	
				border-bottom: 1px solid Color(White);
				padding: 8px 0;

				> aside
				{
					@include Font(Caption);
					display: inline;
				}
			}
		}
	}