//--------------------------------------------------------------------------------------------------
//= Tasks.scss
//--------------------------------------------------------------------------------------------------

	@import "Definition/Colors";
	@import "Definition/Fonts";
	@import "Definition/Variables";

	#PageContainer.Tasks
	{
		.TableWrapper
		{
			overflow-x: auto;
		}

		table
		{
			border-collapse: separate;
			border-spacing: 0;
			width: 100%;
			min-width: 592px;
			margin-bottom: 16px;
			table-layout: fixed;

			// Caption (Category)
			> caption
			{
				@include Font(Title);
				padding: 8px;
				text-align: left;
			}

			// Table Head
			> thead > tr > th
			{
				border-bottom: 2px solid Color(White);
				@include Font(Caption);
				padding: 8px;
				text-align: left;
				vertical-align: middle;
				font-weight: bold;

				&.Status
				{
					width: 48px;
				}

				&.ID
				{
					width: 96px;
				}

				&.TaskName
				{
					min-width: 240px;
				}

				&.Person
				{
					width: 160px;
				}

				&.Menu
				{
					width: 32px;
					text-align: center;
				}
			}

			// Table Body
			> tbody > tr > td
			{
				@include Font(Body1);
				padding: 8px;
				border-bottom: 1px solid Color(White);
				vertical-align: middle;

				&.Status
				{
				}

				&.Person
				{
					> div
					{
						display: flex;
						align-items: center;
						width: 100%;
						word-break: break-all;

						> img
						{
							max-width: 24px;
							max-height: 24px;
							margin-right: 8px;
						}
					}
				}

				&.Menu
				{
					@include Font(Caption);
					width: 32px;
					text-align: center;
				}
			}
		}
	}