//--------------------------------------------------------------------------------------------------
//= Tasks.scss
//--------------------------------------------------------------------------------------------------

	@import "Definition/Colors";
	@import "Definition/Fonts";
	@import "Definition/Variables";

	#PageContainer.Tasks
	{
		.TableWrapper
		{
			overflow-x: auto;
		}

		table
		{
			border-collapse: separate;
			border-spacing: 0;
			width: 100%;
			min-width: 59.2rem;
			margin-bottom: 1.6rem;
			table-layout: fixed;

			// Caption (Category)
			> caption
			{
				@include Font(Title);
				padding: 0.8rem;
				text-align: left;
			}

			// Table Head
			> thead > tr > th
			{
				border-bottom: 0.2rem solid Color(White, Darken2);
				@include Font(Caption);
				padding: 0.8rem;
				text-align: left;
				vertical-align: middle;
				font-weight: bold;

				&.Status
				{
					width: 4.8rem;
				}

				&.ID
				{
					width: 9.6rem;
				}

				&.TaskName
				{
					min-width: 24rem;
				}

				&.Person
				{
					width: 16rem;
				}

				&.Menu
				{
					width: 3.2rem;
					text-align: center;
				}
			}

			// Table Body
			> tbody > tr > td
			{
				@include Font(Body1);
				padding: 0.8rem;
				border-bottom: 0.1rem solid Color(White, Darken2);
				vertical-align: middle;

				&.Status
				{
				}

				&.Person
				{
					> div
					{
						display: flex;
						align-items: center;
						width: 100%;
						word-break: break-all;

						> img
						{
							max-width: 2.4rem;
							max-height: 2.4rem;
							margin-right: 0.8rem;
						}
					}
				}

				&.Menu
				{
					@include Font(Caption);
					width: 3.2rem;
					text-align: center;
				}
			}
		}
	}