//--------------------------------------------------------------------------------------------------
//= Definition / _Fonts.scss
//--------------------------------------------------------------------------------------------------

	$Fonts:
	(
		Sizes:
		(
			Display4:		112px,
			Display3:		56px,
			Display2:		45px,
			Display1:		34px,
			Headline:		24px,
			Title:			21px,
			Subheading2:	16px,
			Subheading1:	16px,
			Body2:			14px,
			Body1:			14px,
			Caption:		13px,
			Menu:			14px,//(null)
			Button:			15px,
		),

		Weights:
		(
			Display4:		300,
			Display3:		400,
			Display2:		400,
			Display1:		400,
			Headline:		400,
			Title:			500,
			Subheading2:	400,
			Subheading1:	400,
			Body2:			500,
			Body1:			400,
			Caption:		400,
			Menu:			400,//(null)
			Button:			500,
		),

		LineHeights:
		(
			Display4:		1.15,//(null)
			Display3:		1.15,//(null)
			Display2:		63px,
			Display1:		48px,
			Headline:		34px,
			Title:			1.15,//(null)
			Subheading2:	30px,
			Subheading1:	26px,
			Body2:			26px,
			Body1:			23px,
			Caption:		1.15,//(null)
			Menu:			1.15,//(null)
			Button:			1.15,//(null)
		),

		Colors:
		(
			Display4:		rgba(0,0,0,0.54),
			Display3:		rgba(0,0,0,0.54),
			Display2:		rgba(0,0,0,0.54),
			Display1:		rgba(0,0,0,0.54),
			Headline:		rgba(0,0,0,0.87),
			Title:			rgba(0,0,0,0.87),
			Subheading2:	rgba(0,0,0,0.87),
			Subheading1:	rgba(0,0,0,0.87),
			Body2:			rgba(0,0,0,0.87),
			Body1:			rgba(0,0,0,0.87),
			Caption:		rgba(0,0,0,0.54),
			Menu:			rgba(0,0,0,0.87),
			Button:			rgba(0,0,0,0.87),
		),
	);

	@mixin Font($_type)
	{
		$FontSizes: map-get($Fonts, Sizes);
		$FontWeight: map-get($Fonts, Weights);
		$LineHeights: map-get($Fonts, LineHeights);
		$FontColors: map-get($Fonts, Colors);
		@if map-has-key($FontSizes, $_type)
		{
			font-size: map-get($FontSizes, $_type);
		}
		@if map-has-key($FontWeight, $_type)
		{
			font-weight: map-get($FontWeight, $_type);
		}
		@if map-has-key($LineHeights, $_type)
		{
			line-height: map-get($LineHeights, $_type);
		}
		@if map-has-key($FontColors, $_type)
		{
			color: map-get($FontColors, $_type);
		}
	}