//--------------------------------------------------------------------------------------------------
//= Definition / _Variables.scss
//--------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------
	//= SideBar
	//----------------------------------------------------------------------------------------------
		$SideBarWidth: 240px !default;																// サイドバーの幅 Medium 以上
		$SideBarHeight: 100% !default;																// サイドバーの高さ Medium 以上
		$SideBarWidthSmall: 240px !default;															// サイドバーの幅 Small 以下
		$SideBarHeightSmall: 100% !default;															// サイドバーの高さ Small 以下
		$MinimizedSideBarWidth: 64px !default;														// 最小化中のサイドバーの幅 Medium 以上
		$MinimizedSideBarHeight: 100% !default;														// 最小化中のサイドバーの高さ Medium 以上

	//----------------------------------------------------------------------------------------------
	//= GlobalHeader
	//----------------------------------------------------------------------------------------------
		$GlobalHeaderWidth: calc(100% - #{$SideBarWidth}) !default;									// グローバルヘッダーの幅 Medium 以上
		$GlobalHeaderHeight: 64px !default;															// グローバルヘッダーの高さ Medium 以上
		$GlobalHeaderWidthSmall: 100% !default;														// グローバルヘッダーの幅 Small 以下
		$GlobalHeaderHeightSmall: 56px !default;													// グローバルヘッダーの高さ Small 以下

	//----------------------------------------------------------------------------------------------
	//= SearchBar
	//----------------------------------------------------------------------------------------------
		$SearchBarWidth: 100%;																		// 検索バーの幅 Medium 以上
		$SearchBarHeight: $GlobalHeaderHeight;														// 検索バーの高さ Medium 以上
		$SearchBarWidthSmall: $GlobalHeaderWidthSmall;												// 検索バーの幅 Small 以下
		$SearchBarHeightSmall: $GlobalHeaderHeightSmall;											// 検索バーの高さ Small 以下

	//----------------------------------------------------------------------------------------------
	//= Responsive
	//----------------------------------------------------------------------------------------------
		$ResponsiveBreakPointWidth: 768px !default;													// レスポンシブデザインのブレイクポイント幅
		$Small-And-Less: "screen and (max-width: #{$ResponsiveBreakPointWidth})" !default;			// レスポンシブデザイン Small 以下
		$Medium-And-More: "screen and (min-width: #{$ResponsiveBreakPointWidth + 1})" !default;		// レスポンシブデザイン Medium 以上