//----------------------------------------------------------------------------------------------
//= Definition / _Z-Indexes.scss
//----------------------------------------------------------------------------------------------
	
	$Z-Indexes:
	(
		MainContainer:				0,
		SideBar:					10,
		GlobalHeader:				100,
		ChosenDropdown:				1000,
		Tooltip:					10000,
		Shade:						100000,
		NoScript:					1000000,
	);

	@function Z-Index($_type)
	{
		@if map-has-key($Z-Indexes, $_type)
		{
			@return map-get($Z-Indexes, $_type);
		}

		@error "Unknown `#{$_type}` in $Z-Indexes.";
		@return null;
	}