//--------------------------------------------------------------------------------------------------
//= Const_Layout.scss
//--------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------
	//= Constants
	//----------------------------------------------------------------------------------------------
		$GlobalHeaderWidth: 100%;																	// グローバルヘッダーの幅 Medium 以上
		$GlobalHeaderHeight: 6.4rem;																// グローバルヘッダーの高さ Medium 以上
		$GlobalHeaderWidthSmall: 100%;																// グローバルヘッダーの幅 Small 以下
		$GlobalHeaderHeightSmall: 5.6rem;															// グローバルヘッダーの高さ Small 以下

		$SideBarWidth: 24rem;																		// サイドバーの幅 Medium 以上
		$SideBarHeight: calc(100% - #{$GlobalHeaderHeight});										// サイドバーの高さ Medium 以上
		$SideBarWidthSmall: 24rem;																	// サイドバーの幅 Small 以下
		$SideBarHeightSmall: calc(100% - #{$GlobalHeaderHeightSmall});								// サイドバーの高さ Small 以下
		$MinimizedSideBarWidth: 6.4rem;																// 最小化中のサイドバーの幅 Medium 以上
		$MinimizedSideBarHeight: calc(100% - #{$GlobalHeaderHeight});								// 最小化中のサイドバーの高さ Medium 以上

		$ResponsiveBreakPointWidth: 640px;															// レスポンシブデザインのブレイクポイント幅
		$Small-And-Less: "screen and (max-width: #{$ResponsiveBreakPointWidth})";					// レスポンシブデザイン Small 以下
		$Medium-And-More: "screen and (min-width: #{$ResponsiveBreakPointWidth + 1})";				// レスポンシブデザイン Medium 以上

	//----------------------------------------------------------------------------------------------
	//= Columns
	//----------------------------------------------------------------------------------------------
		.Row
		{
			display: flex;
			flex-wrap: wrap;

			@for $i from 1 through 12 {
				.Column-#{$i}
				{
					//@extend %Columns;
					width: calc(100% / 12 * #{$i});
				}

				.Column-Small-#{$i}
				{
					//@extend %Columns;
					@media #{$Small-And-Less}
					{
						width: calc(100% / 12 * #{$i});
					}
				}
			}

			// // Medium And More
			// .Column-1			{ width: calc(100% / 12 * 1);	@extend %Columns; }
			// .Column-2			{ width: calc(100% / 12 * 2);	@extend %Columns; }
			// .Column-3			{ width: calc(100% / 12 * 3);	@extend %Columns; }
			// .Column-4			{ width: calc(100% / 12 * 4);	@extend %Columns; }
			// .Column-5			{ width: calc(100% / 12 * 5);	@extend %Columns; }
			// .Column-6			{ width: calc(100% / 12 * 6);	@extend %Columns; }
			// .Column-7			{ width: calc(100% / 12 * 7);	@extend %Columns; }
			// .Column-8			{ width: calc(100% / 12 * 8);	@extend %Columns; }
			// .Column-9			{ width: calc(100% / 12 * 9);	@extend %Columns; }
			// .Column-10			{ width: calc(100% / 12 * 10);	@extend %Columns; }
			// .Column-11			{ width: calc(100% / 12 * 11);	@extend %Columns; }
			// .Column-12			{ width: calc(100% / 12 * 12);	@extend %Columns; }
			// // Small And Less
			// .Column-Small-1		{ width: calc(100% / 12 * 1);	@extend %Columns; }
			// .Column-Small-2		{ width: calc(100% / 12 * 2);	@extend %Columns; }
			// .Column-Small-3		{ width: calc(100% / 12 * 3);	@extend %Columns; }
			// .Column-Small-4		{ width: calc(100% / 12 * 4);	@extend %Columns; }
			// .Column-Small-5		{ width: calc(100% / 12 * 5);	@extend %Columns; }
			// .Column-Small-6		{ width: calc(100% / 12 * 6);	@extend %Columns; }
			// .Column-Small-7		{ width: calc(100% / 12 * 7);	@extend %Columns; }
			// .Column-Small-8		{ width: calc(100% / 12 * 8);	@extend %Columns; }
			// .Column-Small-9		{ width: calc(100% / 12 * 9);	@extend %Columns; }
			// .Column-Small-10	{ width: calc(100% / 12 * 10);	@extend %Columns; }
			// .Column-Small-11	{ width: calc(100% / 12 * 11);	@extend %Columns; }
			// .Column-Small-12	{ width: calc(100% / 12 * 12);	@extend %Columns; }
		}

	//----------------------------------------------------------------------------------------------
	//= Z-Indexes
	//----------------------------------------------------------------------------------------------
		$Z-Indexes:
		(
			MainContainer:				100,
			SideBar:					1000,
			GlobalHeader:				10000,
			SiteLogo:					10000,
			Shade:						50000,
			ChosenDropdown:				100000,
			Tooltip:					150000,
			RippleEffect:				500000,
			NoScript:					999999,
		);

		@function Z-Index($_type)
		{
			@if map-has-key($Z-Indexes, $_type)
			{
				@return map-get($Z-Indexes, $_type);
			}

			@error "Unknown `#{$_type}` in $Z-Indexes.";
			@return null;
		}

	//----------------------------------------------------------------------------------------------
	//= Media Query
	//----------------------------------------------------------------------------------------------
		#MediaQuery
		{
			width: 0;
			height: 0;
			overflow: hidden;
		}

		@media #{$Medium-And-More}
		{
			#MediaQuery
			{
				font-family: 'Medium';											// content では IE で正常に取得できないためやむを得ず font-family を利用する
			}
		}
		@media #{$Small-And-Less}
		{
			#MediaQuery
			{
				font-family: 'Small';											// content では IE で正常に取得できないためやむを得ず font-family を利用する
			}
		}