//--------------------------------------------------------------------------------------------------
//= PageName.scss
//--------------------------------------------------------------------------------------------------

	#PageName
	{
		margin: 0 3.2rem 1.6rem;

		@media #{$Small-And-Less}
		{
			margin: 0 1.6rem 1.6rem;
		}

		> h1
		{
			@include Font(Subheading);
			margin: 0;
			padding: 0;
		}
	}