//--------------------------------------------------------------------------------------------------
//= Input.scss
//--------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------
	//= Selectbox
	//----------------------------------------------------------------------------------------------
		.SelectboxContainer
		{
			position: relative;
			margin: 2.4rem 0 1.6rem;

			select
			{
				position: relative;
				border: none;
				border-bottom: 0.1rem solid Color(White, Darken2);
				outline: none;
				transition: all .3s;
				padding: 0.1em;
				padding-right: 2.4rem;
				padding-bottom: calc(0.1em + 0.1rem);
				border-radius: 0;
				min-height: 2.8rem;
				max-width: 100%;
				background: transparent url('../svg/SelectboxDownArrow.svg') right 0 center no-repeat;
				background-size: 2.4rem;
				cursor: pointer;

				// Hide arrow
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 0.01px;
				text-overflow: '';
				&::-ms-expand
				{
					display: none;
				}

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 0.2rem solid Color(Blue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 0;
					left: 0;
					pointer-events: none;
					transform: translateY(-100%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(Blue);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Textfield
	//----------------------------------------------------------------------------------------------
		.TextfieldContainer
		{
			position: relative;
			margin: 3.2rem 0 2.4rem;

			input[type=text]
			{
				position: relative;
				border: none;
				border-bottom: 0.1rem solid Color(White, Darken2);
				outline: none;
				transition: all .3s;
				padding: 0.1em;
				padding-bottom: calc(0.1em + 0.1rem);
				border-radius: 0;
				min-height: 2.8rem;
				box-sizing: border-box;

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 0.2rem solid Color(Blue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 50%;
					left: 0;
					pointer-events: none;
					transform: translateY(-50%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(Blue);
					top: 0;
					transform: translateY(-100%);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Textarea
	//----------------------------------------------------------------------------------------------
		.TextareaContainer
		{
			position: relative;
			margin: 3.2rem 0 2.4rem;

			textarea
			{
				position: relative;
				border: none;
				border-bottom: 0.1rem solid Color(White, Darken2);
				outline: none;
				transition: border-color .3s, border-width .3s, padding-bottom.3s;
				padding: 0.1em;
				padding-top: 0.4em;
				padding-bottom: calc(0.1em + 0.1rem);
				border-radius: 0;
				min-height: 2.8rem;
				box-sizing: border-box;
				vertical-align: bottom;											// Chrome における下部の余白対策

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 0.2rem solid Color(Blue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 50%;
					left: 0;
					pointer-events: none;
					transform: translateY(-50%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(Blue);
					top: 0;
					transform: translateY(-100%);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Checkbox
	//----------------------------------------------------------------------------------------------
		/**/
		.CheckboxContainer
		{
			> label > input[type=checkbox]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 2.6rem;

					&:before
					{
						@extend .mdi;
						position: absolute;
						top: -0.1rem;
						left: 0;
						content: "\f131";
						color: Color(Gray);
						transition: all .3s;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 2.4rem;
						height: 2.4rem;
						top: -0.1rem;
						left: 0;
						pointer-events: none;
						background-color: Color(Blue);
						transform: scale(2, 2);
						opacity: 0;
						border-radius: 100%;
						transition: transform 0.5s, opacity 1s;
					}

					&:active:after
					{
						transform: scale(0, 0);
						opacity: 0.5;
						transition: 0s;
					}
				}

				&:checked + span:before
				{
					color: Color(Blue);
					content: "\f132";
				}
			}
		}
		/**/

		/**
		.Input.CheckboxContainer
		{
			> label > input[type=checkbox]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 1.5em;

					&:before
					{
						position: absolute;
						content: "";
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						display: block;
						width: 1em;
						height: 1em;
						border: 0.2rem solid Color(White, Darken2);
						box-sizing: border-box;
					}
				}

				&:checked + span
				{
					&:before
					{
						background-color: Color(Blue);
						border: none;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 0.3em;
						height: 0.6em;
						border-bottom: 0.15em solid Color(White);
						border-right: 0.15em solid Color(White);
						background: transparent;
						top: 0.24em;
						left: 0.3em;
						transform: rotate(45deg);
					}
				}
			}
		}
		/**/

	//----------------------------------------------------------------------------------------------
	//= Radio Button
	//----------------------------------------------------------------------------------------------
		/**/
		.RadioButtonContainer
		{
			label > input[type=radio]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 2.6rem;

					&:before
					{
						@extend .mdi;
						position: absolute;
						top: -0.1rem;
						left: 0;
						content: "\f43d";
						color: Color(Gray);
						transition: all .3s;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 2.4rem;
						height: 2.4rem;
						top: -0.1rem;
						left: 0;
						pointer-events: none;
						background-color: Color(Blue);
						transform: scale(2, 2);
						opacity: 0;
						border-radius: 100%;
						transition: transform 0.5s, opacity 1s;
					}

					&:active:after
					{
						transform: scale(0, 0);
						opacity: 0.5;
						transition: 0s;
					}
				}

				&:checked + span:before
				{
					color: Color(Blue);
					content: "\f43e";
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Button
	//----------------------------------------------------------------------------------------------
		.ButtonContainer
		{
			> button
			{
				@extend .Button;
				@extend .Ripple;
			}
		}