//--------------------------------------------------------------------------------------------------
//= ActionBar.scss
//--------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------
	//= Without PageContainer
	//----------------------------------------------------------------------------------------------
	.ActionBar
	{
		float: right;
		margin: 16px 32px 8px 8px;
		font-size: 24px;

		> ul
		{
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style-type: none;
			justify-content: flex-end;

			> li
			{
				display: flex;
				border-radius: 50%;

				> a
				{
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 48px;
					height: 48px;
					text-decoration: none;
					color: Color(Grey);

					&:hover
					{
						color: Color(Grey, 700);
					}

					> i
					{
						pointer-events: none;
					}
				}
			}
		}

		@media #{$Small-And-Less}
		{
			float: none;
			margin: 0;
			margin-bottom: 8px;
		}
	}

	#PageContainer .ActionBar
	{
		margin: 0;
		float: none;
	}