//--------------------------------------------------------------------------------------------------
//= Breadcrumb.scss
//--------------------------------------------------------------------------------------------------

	#Breadcrumb
	{
		margin: 24px 32px 0;

		@media #{$Small-And-Less}
		{
			margin: 16px 16px 0;
		}

		> ul
		{
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0;
			padding: 0;

			> li
			{
				> a
				{
					@include Font(Caption);
					white-space: nowrap;
					text-decoration: none;

					&:hover
					{
						color: Color(Blue);
						text-decoration: underline;
					}
				}

				&:after
				{
					@include Font(Caption);
					content: "/";
					margin: 8px;
				}
			}
		}
	}

	#PageName > h1
	{
		@include Font(Subheading1);
	}