//--------------------------------------------------------------------------------------------------
//= Button.scss
//--------------------------------------------------------------------------------------------------

	.Button
	{
		@include Font(Button);
		@extend .Z-Depth-1;

		background-color: Color(Grey, 300);
		border: none;
		outline: none;
		padding: 0.6em 0.8em;
		border-radius: 0;
		transition: box-shadow .3s, background-color .3s;
		cursor: pointer;
		min-width: 8.8rem;

		&:active
		{
			@extend .Z-Depth-4;
			background-color: Color(Grey, 400);
		}	
	}