//--------------------------------------------------------------------------------------------------
//= Card.scss
//--------------------------------------------------------------------------------------------------

	.Card
	{
		@extend .Z-Depth-1;

		background-color: Color(White, Base);
		margin: 0 1.6rem 3.2rem 1.6rem;
		padding: 1.6rem;
		overflow: visible;

		@media #{$Small-And-Less}
		{
			margin: 0 0.8rem 1.6rem 0.8rem;
			padding: 0.8rem;
		}
	}