//--------------------------------------------------------------------------------------------------
//= ChosenMaterialTheme.scss
//--------------------------------------------------------------------------------------------------

	$ChosenSearchBarPadding: 8px;
	$ChosenSearchInputHeight: 40px;

	.chosen-container.chosen-container-single
	{
		@include Font(Menu);

		padding-bottom: 1px;
		border-bottom: 1px solid Color(Grey, 200);
		transition: all .3s  ease;

		+ label
		{
			display: none;
		}

		//------------------------------------------------------------------------------------------
		//= Select Box
		//------------------------------------------------------------------------------------------
			.chosen-single
			{
				border-radius: 0;
				background: none;
				box-shadow: none;
				padding: 0;
				border: none;
				display: flex;
				align-items: center;

				&.chosen-single-with-deselect
				{
					span
					{
						margin-right: 48px;
					}

					.search-choice-close
					{
						@include Font(Button);
						@extend .mdi;
						@extend .mdi-close;
						display: flex;
						align-items: center;
						justify-content: center;
						top: auto;
						right: 24px;
						opacity: 1;
						background: none;
						color: Color(Grey);

						&:hover:before
						{
							color: Color(Grey, 700);
						}
					}
				}

				> div
				{
					width: 24px;

					> b
					{
						@include Font(Button);
						@extend .mdi;
						@extend .mdi-chevron-down;
						background: none !important;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				&:hover > div > b:before
				{
					color: Color(Grey, 700);
				}
			}

			// Opened Dropdown
			&.chosen-with-drop
			{
					padding-bottom: 0;
					border-bottom: 2px solid Color(ThemeBlue);
			}
			//

		//------------------------------------------------------------------------------------------
		//= Dropdown
		//------------------------------------------------------------------------------------------
			.chosen-drop
			{
				@extend .Z-Depth-4;
				z-index: Z-Index(ChosenDropdown);

				border: none;
				margin: 0;
				border-radius: 0;
				transform-origin: top;
				transform: scaleY(0);
				top: calc(100% + 2px);
				transition: transform .3s ease;

				.chosen-search
				{
					@include Font(Menu);
					padding: $ChosenSearchBarPadding;

					.chosen-search-input
					{
						border: none;
						background: none;
						background-color: Color(Grey, 100);
						margin: 0;
						padding: 0 8px 0 32px;
						height: $ChosenSearchInputHeight;
						transition: all .3s ease;

						&:focus
						{
							@extend .Z-Depth-1;
							background-color: Color(White);
						}
					}

					@extend .mdi;
					@extend .mdi-magnify;
					&:before
					{
						position: absolute;
						left: 16px;
						top: 50%;
						transform: translateY(-50%);
						color: Color(Grey);
						font-size: 16px;
					}
				}

				.chosen-results
				{
					@include Font(Menu);
					padding: 8px 0;
					margin: 0;
					max-height: 160px;
					width: 100%;

					.active-result
					{
						padding: 8px;

						&.highlighted
						{
							color: inherit;
							background: none;
							background-color: Color(Grey, 200);
						}
					}

					.no-results
					{
						@include Font(Caption);
						background-color: transparent;
						padding: 8px;

						> span
						{
							display: none;
						}
					}
				}
			}
			// Opened Dropdown
			&.chosen-with-drop
			{
				.chosen-drop
				{
					transform: scaleY(1);
				}
			}
			//
	}