//--------------------------------------------------------------------------------------------------
//= GlobalHeader.scss
//--------------------------------------------------------------------------------------------------

	#GlobalHeader
	{
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		margin-left: $SideBarWidth;
		display: flex;
		background-color: Color(White);
		width: $GlobalHeaderWidth;
		height: $GlobalHeaderHeight;
		z-index: Z-Index(GlobalHeader);

		@media #{$Small-And-Less}
		{
			margin-left: 0;
			width: $GlobalHeaderWidthSmall;
			height: $GlobalHeaderHeightSmall;
		}

		> #GlobalNav
		{
			width: 100%;
			padding: 0 1.6rem;
			box-sizing: border-box;

			@media #{$Small-And-Less}
			{
				padding: 0 0.8rem;
			}

			> ul
			{
				display: flex;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				list-style-type: none;
				align-items: center;

				> li
				{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4.8rem;
					height: 4.8rem;
					border-radius: 50%;
					overflow: hidden;

					> a
					{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						text-decoration: none;
						color: Color(Grey);
						font-size: 24px;

						&:hover
						{
							color: Color(Grey, 700);
						}

						i
						{
							pointer-events: none;
						}
					}
				}

				> li.ProjectSelect
				{
					@include Font(Menu);
					margin-left: auto;
					overflow: visible;
				}

				> li.User
				{
					> a
					{
						>img
						{
							max-width: 3.2rem;
							max-height: 3.2rem;
							pointer-events: none;
						}
					}
				}

				> li.Search
				{
					@media #{$Small-And-Less}
					{
						margin-left: auto;
					}
				}
			}
		}
	}

	//----------------------------------------------------------------------------------------------
	//= SwitchedSideBar
	//----------------------------------------------------------------------------------------------

		// Medium ----------------------------------------------------------------------------------
		@media #{$Medium-And-More}
		{
			// Transition Settings
			#GlobalHeader
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: width, height, margin-left;
			}
			//

			#GlobalHeader.SideBarSwitched
			{
				margin-left: $MinimizedSideBarWidth;
				width: calc(100% - #{$MinimizedSideBarWidth});
			}
		}

		// Small-And-Less --------------------------------------------------------------------------
		@media #{$Small-And-Less}
		{
			// Transition Settings
			#GlobalHeader
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: width, height, margin-left;
			}
			//
			#GlobalHeader.SideBarSwitched
			{
				margin-left: $SideBarWidth;
			}
		}