//--------------------------------------------------------------------------------------------------
//= Input.scss
//--------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------
	//= Selectbox
	//----------------------------------------------------------------------------------------------
		.SelectboxContainer
		{
			position: relative;
			margin: 24px 0 16px;

			select
			{
				position: relative;
				border: none;
				border-bottom: 1px solid Color(Grey, 200);
				outline: none;
				transition: all .3s;
				padding: 0.1em;
				padding-right: 24px;
				padding-bottom: calc(0.1em + 1px);
				border-radius: 0;
				min-height: 28px;
				max-width: 100%;
				background: transparent url('../svg/SelectboxDownArrow.svg') right 0 center no-repeat;
				background-size: 24px;
				cursor: pointer;

				// Hide arrow
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 0.01px;
				text-overflow: '';
				&::-ms-expand
				{
					display: none;
				}

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 2px solid Color(ThemeBlue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 0;
					left: 0;
					pointer-events: none;
					transform: translateY(-100%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(ThemeBlue);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Textfield
	//----------------------------------------------------------------------------------------------
		.TextfieldContainer
		{
			position: relative;
			margin: 32px 0 24px;

			input[type=text]
			{
				position: relative;
				border: none;
				border-bottom: 1px solid Color(Grey, 200);
				outline: none;
				transition: all .3s;
				padding: 0.1em;
				padding-bottom: calc(0.1em + 1px);
				border-radius: 0;
				min-height: 28px;
				box-sizing: border-box;

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 2px solid Color(ThemeBlue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 50%;
					left: 0;
					pointer-events: none;
					transform: translateY(-50%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(ThemeBlue);
					top: 0;
					transform: translateY(-100%);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Textarea
	//----------------------------------------------------------------------------------------------
		.TextareaContainer
		{
			position: relative;
			margin: 32px 0 24px;

			textarea
			{
				position: relative;
				border: none;
				border-bottom: 1px solid Color(Grey, 200);
				outline: none;
				transition: border-color .3s, border-width .3s, padding-bottom.3s;
				padding: 0.1em;
				padding-top: 0.4em;
				padding-bottom: calc(0.1em + 1px);
				border-radius: 0;
				min-height: 28px;
				box-sizing: border-box;
				vertical-align: bottom;											// Chrome における下部の余白対策

				&:focus
				{
					padding-bottom: 0.1em;
					border-bottom: 2px solid Color(ThemeBlue);
				}

				& + label
				{
					@include Font(Caption);

					position: absolute;
					top: 50%;
					left: 0;
					pointer-events: none;
					transform: translateY(-50%);
					transition: all .3s;
				}

				&:focus + label,
				&.IsNotEmpty + label
				{
					color: Color(ThemeBlue);
					top: 0;
					transform: translateY(-100%);
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Checkbox
	//----------------------------------------------------------------------------------------------
		.CheckboxContainer
		{
			> label > input[type=checkbox]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 26px;

					&:before
					{
						@extend .mdi-set;
						position: absolute;
						top: -1px;
						left: 0;
						content: "\f131";
						color: Color(Grey);
						transition: all .3s;
						font-size: 24px;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 24px;
						height: 24px;
						top: -1px;
						left: 0;
						pointer-events: none;
						background-color: Color(ThemeBlue);
						transform: scale(2, 2);
						opacity: 0;
						border-radius: 100%;
						transition: transform 0.5s, opacity 1s;
					}

					&:active:after
					{
						transform: scale(0, 0);
						opacity: 0.5;
						transition: 0s;
					}
				}

				&:checked + span:before
				{
					color: Color(ThemeBlue);
					content: "\f132";
				}

				&[disabled] + span
				{
					&:before
					{
						color: Color(Grey, 200);
					}

					&:active:after
					{
						opacity: 0;	
					}
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Radio Button
	//----------------------------------------------------------------------------------------------
		.RadioButtonContainer
		{
			label > input[type=radio]
			{
				display: none;

				& + span
				{
					position: relative;
					padding-left: 26px;

					&:before
					{
						@extend .mdi-set;
						position: absolute;
						top: -1px;
						left: 0;
						content: "\f43d";
						color: Color(Grey);
						transition: all .3s;
						font-size: 24px;
					}

					&:after
					{
						content: "";
						display: block;
						position: absolute;
						width: 24px;
						height: 24px;
						top: -1px;
						left: 0;
						pointer-events: none;
						background-color: Color(ThemeBlue);
						transform: scale(2, 2);
						opacity: 0;
						border-radius: 100%;
						transition: transform 0.5s, opacity 1s;
					}

					&:active:after
					{
						transform: scale(0, 0);
						opacity: 0.5;
						transition: 0s;
					}
				}

				&:checked + span:before
				{
					color: Color(ThemeBlue);
					content: "\f43e";
				}
			}
		}

	//----------------------------------------------------------------------------------------------
	//= Button
	//----------------------------------------------------------------------------------------------
		.ButtonContainer
		{
			> button
			{
				@extend .Button;
			}
		}