//--------------------------------------------------------------------------------------------------
//= MainContainer.scss
//--------------------------------------------------------------------------------------------------

	#MainContainer
	{
		position: relative;
		width: calc(100% - #{$SideBarWidth});
		margin-left: $SideBarWidth;
		margin-top: $GlobalHeaderHeight;
		z-index: Z-Index(MainContainer);
		overflow-x: hidden;

		@media #{$Small-And-Less}
		{
			margin-left: 0;
			margin-top: $GlobalHeaderHeightSmall;
			width: 100%;
		}

		> #MainHeader
		{
			background-color: Color(White);
			border-bottom: 1px solid Color(White);
			padding-top: 24px;

			@media #{$Small-And-Less}
			{
				padding-top: 16px;
			}

			> #SectionName
			{
				@include Font(Headline);
				margin: 0 24px 24px;

				@media #{$Small-And-Less}
				{
					margin: 0 16px 16px;
				}
			}
		}
	}

	//----------------------------------------------------------------------------------------------
	//= SwitchedSideBar
	//----------------------------------------------------------------------------------------------

		// Medium ----------------------------------------------------------------------------------
		@media #{$Medium-And-More}
		{
			// Transition Settings
			#MainContainer
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: margin-left, width;
			}
			//

			#MainContainer.SideBarSwitched
			{
				width: calc(100% - #{$MinimizedSideBarWidth});
				margin-left: 64px;
			}
		}

		// Small-And-Less --------------------------------------------------------------------------
		@media #{$Small-And-Less}
		{
			// Transition Settings
			#MainContainer
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: margin-left;
			}
			//

			#MainContainer.SideBarSwitched
			{
				margin-left: $SideBarWidth;
			}
		}