//--------------------------------------------------------------------------------------------------
//= Components / Common.scss
//--------------------------------------------------------------------------------------------------

	html
	{
		font-size: 62.5%;
	}

	html, body
	{
		background-color: Color(Grey, 50);
		overflow-x: hidden;
		width: 100%;
	}

	body
	{
		font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	}

	p, span
	{
		word-break: break-all;
	}

	a
	{
		color: Color(Blue);
		text-decoration: none;

		&:hover
		{
			color: Color(Blue);
		}

		&.NotExist
		{
			color: Color(Red);
		}
	}

	#NoScript
	{
		@include Font(Caption);
		background-color: Color(Red);
		color: Color(White);
		position: fixed;
		bottom: 0;
		right: 0;
		width: auto;
		z-index: Z-Index(NoScript);
		text-align: center;
		padding: 0.8rem;
		opacity: 0.9;

		> p
		{
			margin: 0.8rem;
		}
	}

	//----------------------------------------------------------------------------------------------
	//= Responsive
	//----------------------------------------------------------------------------------------------

		//------------------------------------------------------------------------------------------
		//= Small 
		//------------------------------------------------------------------------------------------
			.Medium
			{
				@media #{$Small-And-Less}
				{
					display: none !important;
				}
			}

		//------------------------------------------------------------------------------------------
		//= Medium
		//------------------------------------------------------------------------------------------
			.Small
			{
				@media #{$Medium-And-More}
				{
					display: none !important;
				}	
			}