//--------------------------------------------------------------------------------------------------
//= PageName.scss
//--------------------------------------------------------------------------------------------------

	#PageName
	{
		margin: 0 32px 16px;

		@media #{$Small-And-Less}
		{
			margin: 0 16px 16px;
		}

		> h1
		{
			@include Font(Subheading);
			margin: 0;
			padding: 0;
		}
	}