//--------------------------------------------------------------------------------------------------
//= SideBar.scss
//--------------------------------------------------------------------------------------------------

	#SideBar
	{
		@extend .Z-Depth-2;
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: auto;
		background-color: Color(BlueGrey, 800);
		width: $SideBarWidth;
		height: $SideBarHeight;
		z-index: Z-Index(SideBar);

		@media #{$Small-And-Less}
		{
			margin-left: -$SideBarWidth;
		}

		> #SideNav
		{
			width: 100%;
			padding-top: 1.6rem;

			> ul
			{
				width: 100%;
				margin: 0;
				padding: 0;
				list-style-type: none;

				> li
				{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 4.8rem;

					> a
					{
						@include Font(Menu);
						width: 100%;
						box-sizing: border-box;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						text-decoration: none;
						height: 100%;
						padding-left: 1.6rem;
						color: Color(BlueGrey, 200);
						border-left: 0.4rem solid transparent;

						> i
						{
							font-size: 24px;
							margin-right: 0.2rem;
							pointer-events: none;
						}

						> span
						{
							overflow: hidden;
							white-space: nowrap;
							pointer-events: none;
						}

						&:hover
						{
							background-color: Color(BlueGrey, 900);
							color: Color(White);
						}
					}
				}

				> li.Active
				{
					background-color: Color(BlueGrey, 900);

					> a
					{
						border-color: Color(ThemeBlue);
						color: Color(White);
					}
				}
			}
		}
	}

	//----------------------------------------------------------------------------------------------
	//= SwitchedSideBar
	//----------------------------------------------------------------------------------------------

		// Medium ----------------------------------------------------------------------------------
		@media #{$Medium-And-More}
		{
			// Transition Settings
			#SideBar
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: width, transform, margin-left;

				> #SideNav > ul > li > a > span
				{
					transition-duration: .3s;
					transition-timing-function: ease;
					transition-property: transform, opacity;
					transform-origin: left;
				}
			}
			//

			#SideBar.SideBarSwitched
			{
				width: $MinimizedSideBarWidth;

				> #SideNav
				{
					> ul
					{
						> li
						{
							> a
							{
								span
								{
									opacity: 0;
									transform: scaleX(0);
								}
							}
						}
					}
				}
			}
		}

		// Small-And-Less --------------------------------------------------------------------------
		@media #{$Small-And-Less}
		{
			// Transition Settings
			#SideBar
			{
				transition-duration: .3s;
				transition-timing-function: ease;
				transition-property: margin-left;
			}
			//
			#SideBar.SideBarSwitched
			{
				margin-left: 0;
			}
		}