// //--------------------------------------------------------------------------------------------------
// //= TipsoMaterialTheme.scss
// //--------------------------------------------------------------------------------------------------

	.tinytip
	{
		@include Font(Caption);
		background-color: Color(Grey, 700);
		color: Color(White);
		display: flex;
		align-items: center;
		padding: 8px;
		opacity: 0.9;
		z-index: Z-Index(Tooltip);
		border-radius: 2px;
		pointer-events: none;

		&.tinytip-top
		{
			margin-bottom: 14px;
		}
		&.tinytip-bottom
		{
			margin-top: 14px;
		}
		&.tinytip-left
		{
			margin-right: 14px;
		}
		&.tinytip-right
		{
			margin-left: 14px;
		}

		&.tinytip-sidenav:not(.SideBarSwitched)
		{
			display: none;
		}

		&.tinytip-fixed
		{
			position: fixed !important;
		}

		@media #{$Small-And-Less}
		{
			display: none !important;
		}
	}