.Row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .Row .Column-1 {
    width: calc(100% / 12 * 1); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-1 {
      width: calc(100% / 12 * 1); } }
  .Row .Column-2 {
    width: calc(100% / 12 * 2); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-2 {
      width: calc(100% / 12 * 2); } }
  .Row .Column-3 {
    width: calc(100% / 12 * 3); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-3 {
      width: calc(100% / 12 * 3); } }
  .Row .Column-4 {
    width: calc(100% / 12 * 4); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-4 {
      width: calc(100% / 12 * 4); } }
  .Row .Column-5 {
    width: calc(100% / 12 * 5); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-5 {
      width: calc(100% / 12 * 5); } }
  .Row .Column-6 {
    width: calc(100% / 12 * 6); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-6 {
      width: calc(100% / 12 * 6); } }
  .Row .Column-7 {
    width: calc(100% / 12 * 7); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-7 {
      width: calc(100% / 12 * 7); } }
  .Row .Column-8 {
    width: calc(100% / 12 * 8); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-8 {
      width: calc(100% / 12 * 8); } }
  .Row .Column-9 {
    width: calc(100% / 12 * 9); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-9 {
      width: calc(100% / 12 * 9); } }
  .Row .Column-10 {
    width: calc(100% / 12 * 10); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-10 {
      width: calc(100% / 12 * 10); } }
  .Row .Column-11 {
    width: calc(100% / 12 * 11); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-11 {
      width: calc(100% / 12 * 11); } }
  .Row .Column-12 {
    width: calc(100% / 12 * 12); }
  @media screen and (max-width: 640px) {
    .Row .Column-Small-12 {
      width: calc(100% / 12 * 12); } }

#MediaQuery {
  width: 0;
  height: 0;
  overflow: hidden; }

@media screen and (min-width: 641px) {
  #MediaQuery {
    font-family: 'Medium'; } }

@media screen and (max-width: 640px) {
  #MediaQuery {
    font-family: 'Small'; } }

#PageContainer {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: rgba(0, 0, 0, 0.87); }
  #PageContainer .Headlines, #PageContainer h1, #PageContainer h2, #PageContainer h3, #PageContainer h4, #PageContainer h5, #PageContainer h6 {
    margin: 2.4rem 0 1.6rem 0;
    padding: 0.4em;
    padding-left: 0.8em; }
  @media screen and (min-width: 641px) {
    #PageContainer h1 {
      margin-left: 0rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level1 {
      margin-left: 1rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h2 {
      margin-left: 1rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level2 {
      margin-left: 2rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h3 {
      margin-left: 2rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level3 {
      margin-left: 3rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h4 {
      margin-left: 3rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level4 {
      margin-left: 4rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h5 {
      margin-left: 4rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level5 {
      margin-left: 5rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer h6 {
      margin-left: 5rem; } }
  @media screen and (min-width: 641px) {
    #PageContainer .Level6 {
      margin-left: 6rem; } }
  #PageContainer h1 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 0.1rem solid #bdbdbd; }
    #PageContainer h1:first-of-type {
      margin-top: 0; }
  #PageContainer h2 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 0.1rem solid #eeeeee; }
  #PageContainer h3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.87);
    border-left: 0.4rem solid #eeeeee; }
  #PageContainer h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.87);
    border-left: 0.1rem solid #eeeeee; }
  #PageContainer h5, #PageContainer h6 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.87); }

#Activity ul {
  margin: 0;
  padding-left: 1.3em; }
  #Activity ul li > aside {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.54);
    display: inline; }
